@import '../../assets/styles/variables';

.card {
  background-color: white;
  border-radius: 1rem;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 1.875rem 2.5rem;
    border-bottom: 1px solid $gray-dark;

    .card-title {
      margin: 0;
      color: $secondary-color;
    }

    .card-action {
      .card-action-link {
        $size: 2.5rem;
        width: $size;
        height: $size;
        border-radius: 0.625rem;
        background-image: $gradient-color;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        box-shadow: 1px 1px 0.625rem 0px rgba($secondary-color, .5);
      }
    }
  }

  .card-body {
    padding: 1.875rem 1rem;
  }

  &.large {
    width: 100%;
  }

  &.medium {
    width: 50%;
  }

  &.mini {
    width: 33.33%;
  }
}