@import '../../assets/styles/variables';

.footer {
  background-color: $gray-dark;
  text-align: center;
  padding: 0.625rem;
  width: 100%;
  position: relative;
  .footer-description {
    font-size: 0.875rem;
  }
}