@import '../../assets/styles/variables';

.footer {
  background-color: $gray-dark;
  text-align: center;
  padding: 0.625rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  .footer-description {
    font-size: 0.875rem;
  }
}